.App {
  text-align: center;
  padding: 50px;
}
.container {
  border-radius: 7px;
  width: 35%;
  height: 40px;
  border: 2px solid wheat;
  cursor: pointer;
}
tr {
  height: 50px;
}
button {
  margin: 0 8px;
}
.btn {
  width: 70px;
}